*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

#home{
    background: url(wallpaper.webp) ;
    height: 800px;
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 0;
}
.navbar ul{
    display: flex;
    list-style: none;
    margin: 20px 0px;
}
.navbar ul li{
    font-family: century;
    font-size: 1.1rem;
    font-weight: bold;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    padding: 8px 25px;
    transition: all.5s ease;
}
.navbar ul li a:hover{
    background-color: white;
    color: black;
    box-shadow: 0 0 10px white;
}
h1{
    color: black;
    text-shadow: 200px gray;
    text-align: center;
    font-size: 90px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 300PX;
    margin-right : 400px;
}
#index{
    background: black;
    color: aliceblue;
    height: 700px;
    
    
}
#pic img{
    width: 450px;
    float: right;
    padding-top: 125px;
    padding-right: 10px;
}
h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
   padding: 20px;
    font-size: 50px ;
    text-decoration: underline;
   
}
p{
    font-size: 22px;
    text-align: left;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#writing{
    display: flex;
    flex-direction: column;
    background: url(wallpaper.webp) ;
    height: 950px;
    align-items: center;
    color: aliceblue;
    text-align: center;
}
.gallery img {
    width: 400px;
    height: 300px;
    margin: 10px;
}
/*a:link, a:visited {
    background-color: #9f2457;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: rgb(224, 42, 121);

  }*/
  /*.fa {
    padding: 20px;
    font-size: 40px;
    width: 60px;
    text-decoration: none;
    margin: 5px 80px;
    padding-right: 30px;
    float: center;
    display: inline-flexbox;
}*/
  
  /* Add a hover effect if you want */
  #contact{
    background: black;
    color: aliceblue;
    text-align: center;
  }
  .fa:hover {
    opacity: 0.7;
  }
  .fa-instagram {  
    background: rgb(69, 2, 69);
    color: rgb(255, 249, 253);  
    padding:20px 20px;
    display: inline-flexbox;
    font-size: 30px;
    margin:20px;

  }  
  .fa-facebook{
    background: rgb(79, 79, 165);
    color: white;
    padding:20px 20px;
    display: inline-flexbox;
    font-size: 30px;
    margin:20px;
  }